:root{
    --darkgray: #a9a4a3;
    --gray: #cec8c7;
    --green: #00ff01;
    --purple: #b400ff;
    --red: #ff1900;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--gray);
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px; /* pixlar istället för vh för att det ska vara samma höjd ovadsätt */
}
.navOmMig{
    background-color: rgba(0, 255, 0, 0.5);
}
.logo{
    margin-left: 5px;
    height: 4vh;
    width: 100%;
    background-image: url("/images/logoV2.png");
    background-size: contain;
    background-repeat: no-repeat;

}
.hamburgerMenu{
    background-image: url("/images/menu-icon.svg");
    width: 10%;
    height: 4vh;
    margin-right: 5%;
    background-size: contain;
    background-repeat: no-repeat;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.omMig{
    display: flex;
    width: 70%;
    height: 13vh;
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 5px var(--green)
}
.proLang{
    display: flex;
    margin-top: 10vh;
    width: 70%;
    height: 13vh;
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 5px var(--purple)
}
.contactMe{
    display: flex;
    margin-top: 10vh;
    width: 70%;
    height: 13vh;
    border: 5px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 5px var(--red)
}
.textInBox{
    font-size: x-large;
    font-weight: bold;
}


.omMigContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    background: linear-gradient(180deg, rgba(0, 255, 0, 0.5) 0%, rgba(206,200,199,1) 100%);
}
.profilBild{
    width: 40%;
}
#imgFilip{
    height: 100%;
    width: 100%;
    border-radius: 15%;
}
.descText{
    width: 90%;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.descText p{
    font-size: large;

}
.descText h1{
    text-align: center;
}
/*
@media only screen and (min-width: 768px){
     Tablets 
    body{
         temp för test 
        background-color: var(--green);
    }

}

@media only screen and (min-width: 1300px){
     Desktop 
    body{
         temp för test 
        background-color: var(--purple);
    }

}
*/
